
.links ul li a {
    text-decoration: none !important;
    color: #fff;
  }
  
  .links ul li a:hover {
    color: #a8cf45;
  }
  
  .links a {
    text-decoration: none !important;
    color: #fff;
  }
  
  .links a:hover {
    color: #a8cf45;
  }
  
.title {
    padding-bottom: 20px;
    color: #a8cf45;
  }
  
.green {
    color: #a8cf45;
    font-size: 16px;
    padding-left: 5px;
  }

  
.footer {
    direction:rtl;
    min-height: 20vw;
    background-position: center;
    background-image: url(/images/footer/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: right;
    text-align: justify;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 85%;
    background-color: #2a2a2a;
  }
  
  